Diagnostics:
  ClangTidy:
    Add: [readability-identifier-naming]
    CheckOptions:
      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.FunctionCase: lower_case
