name: format

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  python-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
        with: # see: https://black.readthedocs.io/en/stable/integrations/github_actions.html
          version: "~= 24.0"
